.title{
  color: white;
  background-image: url("images/background.jpg");
  padding-top: 200px;
  padding-bottom: 200px;

}

body{

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}


